.quote-font--lge {
  font-size: 32px;
}

.quote-font--med {
  font-size: 24px;
}

.quote-font--sml {
  font-size: 16px;
}

@media (min-width: 370px) {
  .quote-font--lge {
    font-size: 40px;
  }
  
  .quote-font--med {
    font-size: 32px;
  }
  
  .quote-font--sml {
    font-size: 20px;
  } 
}

@media (min-width: 410px) {
  .quote-font--lge {
    font-size: 48px;
  }
  
  .quote-font--med {
    font-size: 32px;
  }
  
  .quote-font--sml {
    font-size: 24px;
  } 
}

@media (min-width: 560px) {
  .quote-font--lge {
    font-size: 64px;
  }

  .quote-font--med {
    font-size: 48px;
  }

  .quote-font--sml {
    font-size: 32px;
  }
}


.abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.abs.abs-shrink {
  top: -10%;
  bottom: -10%;
}

.abs.abs--square {
  left: -10%;
  right: -10%;
  max-width: 120%;
}

@media (max-width: 900px) {
  .abs.abs-shrink {
    top: -10%;
    bottom: -10%;
    left: -10%;
    right: -10%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.requiem {
  font-family: "Requiem Display A", "Requiem Display B";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #555350;
}

.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.quote__container {
  width: 100%;
  padding-top: 74.5917387%;
  position: relative;

  overflow: hidden;
}

.quote__container.quote__container--preview {
  padding-top: 62%;
}

.quote__container.quote__container--square {
  padding-top: 100%;
}

@media (max-width: 900px) {
  .quote__container {
    padding-top: 100%;
  }
}

.quote__bg-image {
  background-size: cover;
  background-position: center;
}

.quote__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  height: 69%;
  width: 52%;
  padding: 1.4rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 900px) {
  .quote {
    width: 69%;
  }
}

.quote__body {
  margin: 1rem 0 ;
  flex: 1;
  line-height: 1;
  background: transparent;
  border: none;
}

.quote__body:focus {
  outline: none;
}

.quote__body[readonly],
.quote__body:read-only,
.quote__body:disabled {
  -webkit-text-fill-color: #555350;
  -webkit-opacity: 1;
  opacity: 1;
}
